{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/estudantes/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Curso</th>
        </tr>
        {% for e in dados %}
        <tr>
            <td>{{e.nome}}</td>
            <td>{{e.curso}}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}