{% extends "base.html" %}

{% block conteudo %}

    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}

    <fieldset>
        <form action="/inscricoes/save" method="post">
            <div>
                <label for="nome_disc">Disciplina: </label>
                <input type="text" name="nome_disc" id="nome_disc">
            </div>
            <div>
                <label for="semestre">Semestre: </label>
                <input type="text" name="semestre" id="semestre">
            </div>
            <div>
                <label for="estudante">Estudante: </label>
                <select name="id_estudante" id="estudante">
                    <option value=""></option>
                    {% for e in estudantes %}
                    <option value="{{e.id}}">{{e.nome}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Salvar</button>
        </form>
    </fieldset>

{% endblock %}